<div id="mySidebar" class="sidebar" [ngStyle]="{'width.px': width}">
    <a routerLinkActive="active" routerLink="/login"><i class="icon fas fa-circle"></i><span class="icon-text">OLSoftware</span></a>
    <div class="line"></div>
    <a href="#"><i class="icon far fa-map"></i><span class="icon-text">Programación</span></a>
    <br>
    <a href="#"><i class="icon fas fa-list-ul"></i><span class="icon-text">Gestion de operaciones</span></a>
    <br>
    <a href="#"><i class="icon fas fa-sliders-h"></i><span class="icon-text">Perfiles</span></a>
    <br>
    <a href="#"><span class="icon letters">R</span><span class="icon-text">Roles</span></a>
    <br>
    <a routerLinkActive="active" routerLink="/users"><span class="icon letters">U</span><span class="icon-text">Usuarios</span></a>
    <br>
    <a href="#"><i class="icon fas fa-file"></i><span class="icon-text">Reportes</span></a>
</div>
  