/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

.shadow {
    -webkit-box-shadow: 4px 3px 7px -1px rgba(0,0,0,0.33);
    -moz-box-shadow: 4px 3px 7px -1px rgba(0,0,0,0.33);
    box-shadow: 4px 3px 7px -1px rgba(0,0,0,0.33);
}

.shadow-card {
    -webkit-box-shadow: 12px 14px 45px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 12px 14px 45px 2px rgba(0,0,0,0.2);
    box-shadow: 12px 14px 45px 2px rgba(0,0,0,0.2);
}
.clickme {
    cursor: pointer;
}